body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.padre{
    display: block;
}
.hijo{ 
    float: left;
}
div{
    padding-top: 0.3%;
    padding-left: 0.3%;
}
.menu-izqd{
    padding: 0.1%;
}
.menu-izqd2{
    width: 12%;
}
.pad {
    padding: 15px;
}
.padleer {
    padding-left: 5%;
}
.botonale{
    padding-bottom: 13%;
    margin-bottom: 4%;
    width: 200%;
}
.redaboton{
    width: 11.5%;
    padding:0.5%
}

.tablasguapas{
    padding: 10px;
    border-color: rgb(165, 161, 161);
    border-width: 1px;
    border-style: solid;
    text-align:center;
}